.container-1 > div{
justify-content: space-between;
border:1px #ccc solid;
padding:10px;
background-color: salmon;
}

.box-1 {
flex: 1;
}
.box-2 {
flex: 2;
}
.box-3 {
flex: 3;
}
.box-container {
background-color: gray;
flex-basis: 27%;
}