.container {
  display: flex;
  height: 50px;
  align-items: stretch;
  justify-content: space-evenly;
  background-color: #262626;
}

body {
  background-color: rgb(219, 219, 219);
}

.item {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}
  
.varukorg {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  height: auto;
  margin-right:50px ;
  width: 10px;
}

.titel + .varukorg {
  margin-left: 2%;
}

.item + .item {
  margin-left: 2%;
}

.item + .titel {
  margin-left: 2%;
}

.titel + .item {
  margin-left: 2%;
}

.titel {
  flex-grow: 8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: white;
  text-decoration: underline ;
}

.rubrik {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.container2 {
  display: flex;
  justify-content: space-evenly;
  height: 300px;
}

.content {
  height: 300px;
  width: 400px;
  background-color: green;
  display: flex;
}

.content + .content {
  margin-left: 2%;
}

footer {
  text-align: center;
  position: fixed;
  padding: 10px;
  background-color: darkgray;
  color: white;
  width: 100%;
  bottom: 0;
}


a:link, a:visited {
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
}

a:hover, a:active {
  background-color: #313131;
  text-decoration: underline;
}

